#conditions{
    padding-top: rem(96);
    .document-container{
        padding-bottom: rem(300);
        background-color: white;
        .document-image{
            text-align: center;
            img{
                width: 100%;
            }
        }
        .space-name {
            height: rem(81);
            line-height: rem(81);
            border-bottom: 1px solid $border;
            text-align: center;
            @include font-style(28, $purple, NotoSans-Regular);
        }
        .document-icon-title-subtitle{
            margin-top: rem(60);
            text-align: center;
            .icon-box{
                width: rem(74);
                height: rem(31);
                line-height: rem(31);
                border: 1px solid $oceanblue;
                border-radius: rem(5);
                margin: 0 auto;
                .document-icon{
                    @include font-style(20, $oceanblue, NotoSans-Regular);
                }
            }
            .document-title{
                @include font-style(32, $bk, NotoSans-Regular);
            }
            .document-subtitle{
                margin-bottom: rem(55);
                @include font-style(28, $deepgray, NotoSans-Regular);
            }
        }
        .room-sub-info{
            padding: rem(50);
            margin: rem(50) rem(30) rem(40) rem(30);
            justify-items: center;
            display: grid;
            display: -ms-grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            -ms-grid-columns: 1fr 1fr 1fr 1fr;
            background-color: $btn-bg;
            border: 1px;
            border-radius: rem(10);
            text-align: center;
            .room-area-info{
                
                .room-area-icon{
                    img{
                        width: rem(53);
                        height: rem(53);
                    }
                }
                .room-area-text{
                    @include font-style(24, $gy, NotoSans-Regular);
                }
                .room-area{
                    @include font-style(28, $deepGy, NotoSans-Regular);
                }
            }
        }
        .room-space-info{
            .room-space-icon{
                img{
                    width: rem(53);
                    height: rem(53);
                }
            }
            .room-space-text{
                @include font-style(24, $gy, NotoSans-Regular);
            }
            .room-space{
                @include font-style(28, $deepGy, NotoSans-Regular);
            }
        }
        .room-floors-info{
            .room-floors-icon{
                img{
                    width: rem(53);
                    height: rem(53);
                }
            }
            .room-floors-text{
                @include font-style(24, $gy, NotoSans-Regular);
            }
            .room-fllors{
                @include font-style(28, $deepGy, NotoSans-Regular);
            }
        }
        .room-cost-info{
            .room-cost-icon{
                img{
                    width: rem(53);
                    height: rem(53);
                }
            }
            .room-cost-text{
                @include font-style(24, $gy, NotoSans-Regular);
            }
            .room-cost{
                @include font-style(28, $deepGy, NotoSans-Regular);
            }
        }
        .map-chat-call{
            display: grid;
            display: -ms-grid;
            grid-template-columns: 1fr 1fr 1fr;
            -ms-grid-columns: 1fr 1fr 1fr;
            justify-items: center;
            margin: 4%;
            .map{
                justify-items: center;
                img{
                    height: rem(34);
                    width: rem(34);
                    padding: rem(11)
                }
                @include font-style(28, $deepgray, NotoSans-Regular);
            }
            .chat{
                img{
                    height: rem(34);
                    width: rem(34);
                    padding: rem(11)
                }
                @include font-style(28, $deepgray, NotoSans-Regular);
            }
            .call{
                img{
                    height: rem(34);
                    width: rem(34);
                    padding: rem(11)
                }
                @include font-style(28, $deepgray, NotoSans-Regular);
            }
        }
        .room-detail-info-day{
            display: grid;
            display: -ms-grid;
            grid-template-columns: 1fr 1fr 10%;
            -ms-grid-columns: 1fr 1fr 10%;
            border-top: 14px solid $gray;
            border-bottom: 1px solid $gray;
            padding-left: rem(30);
            padding-right: rem(10);
            .room-detail-info{
                line-height: rem(100);
                text-align: left;
                @include font-style(28, $bk, NotoSans-Regular);
                
            }
            .room-detail-day{
                align-self: center;
                text-align: right;
                @include font-style(22, $placehorder, NotoSans-Regular);
            }
            .room-detail-arrow{
                align-self: center;
                justify-self: end;
                img{
                    width: rem(72);
                    height: rem(72);
                }
            }
        }
        .room-detail-info-content{
            display: grid;
            display: -ms-grid;
            grid-template-columns: rem(130) 1fr;
            -ms-grid-columns: rem(130) 1fr;
            text-align: left;
            line-height: rem(54);
            margin: rem(39) 0 rem(76) 0;
            @include sidePadding(30)
            .room-detail-title{
                @include font-style(24, $gy-text, NotoSans-Regular);
            }
            .room-detail-content{
                margin-left: rem(49);
                @include font-style(24, $deepgray, NotoSans-Regular);
            }
        }
        .producer-info{
            display: grid;
            display: -ms-grid;
            grid-template-columns: 1fr 1fr;
            -ms-grid-columns: 1fr 1fr;
            border-top: 14px solid $gray;
            border-bottom: 1px solid $gray;
            padding-left: rem(30);
            padding-right: rem(10);
            line-height: rem(100);
            .producer-title{
                align-self: center;
                text-align: left;
                @include font-style(32, $bk, NotoSans-Regular);
            }
            .producer-arrow{
                align-self: center;
                justify-self: end;
                img{
                    width: rem(72);
                    height: rem(72);
                }
            }
        }
        .producer-title-content{
            display: grid;
            display: -ms-grid;
            grid-template-columns: rem(130) 1fr;
            -ms-grid-columns: rem(130) 1fr;
            line-height: rem(54);
            margin-top: rem(39);
            @include sidePadding(30)

            .producer-title{
                @include font-style(24, $gy-text, NotoSans-Regular);
            }
            .producer-content{
                margin-left: rem(49);
                @include font-style(24, $deepgray, NotoSans-Regular);
            }
        }
        
    }
    .additional-info-wraper {
        line-height: normal; 
        padding-top: rem(55);    
        padding-bottom: rem(80);    
        @include sidePadding(30);  
        @include font-style(32, $gy, NotoSans-Regular);
        .blue-style{
            border: 3px solid $blue;
            .top-area {
                background-color: #EBF4FC;
            }
            .top-left{            
                p{
                    color: $blue;
                }
            }
        }
        .red-style{
            border: 3px solid $red;
            .top-area {
                background-color: #F9F4EB;
            }
            .top-left{            
                p{
                    color: $red;
                }
            }
        }
        .gray-style{
            border: 3px solid #868E96;
            .top-area {
                background-color: #F5F5F5;
            }
            .top-left{            
                p{
                    color:  #868E96;
                }
            }
        }
        .red-text { color: $red!important; display: inline-block;}
        .text-line-through{ text-decoration: line-through; color: $gy!important; }
        .second-wraper{
            margin-top: rem(30);
        }
        .inner-wraper{
            border-radius: rem(20);
            overflow: hidden;
            .top-area{
                display: flex;
                height: rem(112);
                line-height: rem(112);
                @include sidePadding(30);   
                .top-left{
                    display: flex;
                    div{
                        display: grid;
                        align-items: center;
                        img{
                            margin-right: rem(20);
                            width: rem(32)
                        }
                    }
                }
                .top-right{
                    flex: 1;
                    text-align: right;
                    @include font-style(24, #ADB5BD, NotoSans-Regular);
                }
                
            }
            .bottom-area{
                padding-top: rem(39);
                padding-bottom: rem(40);
                @include sidePadding(30);   
                @include font-style(24, $gy, NotoSans-Regular);
                div {
                    display: flex;
                    margin-bottom: rem(20);
                    .left{
                        flex: 1;
                    }
                    .right{
                        width: rem(437);
                        @include font-style(24, $bk, NotoSans-Regular);
                    }
                }
            }

            .buttons-wraper {
                display: flex;
                height: rem(100);
                align-items: center;
                border-top: 1px solid $border;
                dt{
                    flex: 1;
                    text-align: center;
                    @include font-style(28, #495057, NotoSans-Regular);
                    p{
                        display: inline-block;
                    }
                    img{
                        width: rem(34);
                        vertical-align: middle;
                        margin-bottom: rem(10);
                        margin-right: rem(10);
                    }
                    &:last-child{
                        border-left: 1px solid $border;
                    }
                }
            }
        }
        .contract_button{
            text-align: center;
            height: rem(82);
            border: 1px solid $border;
            border-radius: rem(5);
            display: flex;
            justify-content: center;
            margin-top: rem(30);
            @include font-style(28, #495057, NotoSans-Regular);

            img{
                width: rem(24);
                vertical-align: middle;
                margin-right: rem(10);
            }
            p, div{
                display: flex ;
                align-items: center;

            }

        }
       
    }
}

#contract-document{
    padding-top: rem(96);
    overflow: hidden;
    background-color: white;
    height: 100vh;
    padding-bottom: rem(100);
    .document-image{
        img{
            width: 100%;
        }
    }
    .agreebutton{
        position: fixed;
        bottom: rem(100);
        left: 0;
        width: rem(720);
        height: rem(80);
        display: grid;
        grid-template-columns: auto 80%;
        background-color: $header-bg;
        .checkimage{
            margin: 0 rem(17) 0 rem(217);
            img{
                width: rem(42);
                height: rem(42);
            }
        }
        .checktext{
            line-height: rem(80);
            @include font-style(24, white, NotoSans-Regular);
        }
    }
}